/xplore/Supabase.swift

# Ignore unnecessary Xcode build and temp files
build/
xplore.xcodeproj/project.xcworkspace
xplore.xcodeproj/xcuserdata
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
*.xcuserdata/

# Ignore derived data and user-specific settings
DerivedData/
